:root {

    --color-black: #000000;
    --color-primary: #133417;
    --color-secondary: #136F17;
    --color-tertiary: #38C122;
    --color-small-info: #4B4B4B;
    --color-line: #828282;
}

*{
    margin: 0px;
    padding: 0px;
}

html, 
body {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 500px;
}

.logo img {
    position: relative;
    width: 335px;
    height: 335px;
    margin: 0 auto;

    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#buttons-container {
    position: relative;
    display: flex;
}

#buttons-container a {
    width: 15rem;
    height: 3.5rem;

    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.4rem;

    cursor: pointer;
    text-decoration: none;

    margin-top: 9rem;
}

#buttons-container a.login {
    background: white;
    color: var(--color-primary);
    border: thin solid var(--color-primary);
    border-color: var(--color-primary);

    margin-left: auto;
    margin-right: 2rem;
}

#buttons-container a.register {
    background: var(--color-primary);
    color: white;
    border: 0;

    margin-left: 2rem;
    margin-right: auto;
}