:root {

    --color-black: #000000;
    --color-primary: #133417;
    --color-secondary: #136F17;
    --color-tertiary: #38C122;
    --color-small-info: #4B4B4B;
    --color-line: #828282;
}

*{
    margin: 0px;
    padding: 0px;
}

html, 
body {
    position: relative;
    width: 350px;
    margin: 0 auto;
    height: 445px;
}

#perfil-initial {
    display: flex;
}

.adicionarfoto a {
    width: 7rem;
    height: 7rem;

    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background: white;
    color: black;
    border: thin solid black;
    border-radius: 50%;
    
    margin-top: 5rem;
    margin-left: 1rem;
}

#perfil-initial .area-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    width: 10rem;
    margin-top: 6rem;
    text-align: center;
}

.button-next a {
    width: 6.5rem;
    height: 2rem;

    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    background: white;
    color: var(--color-tertiary);
    border: thin solid var(--color-tertiary);
    border-radius: 4rem;
    
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: auto;
}